<h1>Transactions</h1>
<%= link_to "Back to Dashboard", admin_dashboard_path, class: "btn btn-secondary" %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Transaction ID</th>
      <th>User Email</th> 
      <th>Details</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.user.email %></td> 
        <td>
          <%= "#{transaction.transaction_type.capitalize} #{transaction.quantity} shares of #{transaction.stock.symbol} at #{transaction.price}" %>
        </td>
        <td><%= transaction.quantity * transaction.price %></td>
        <td><%= transaction.created_at.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
