<% if current_user.approved? %>
  <h2>
    <%= @transaction.transaction_type.capitalize %>
    <%= @stock.symbol %>
  </h2>

  <% if flash.now[:alert] %>
    <div id="error_explanation">
      <p><strong><%= flash.now[:alert] %></strong></p>
    </div>
  <% end %>

<%= form_with model: @transaction, local: true do |form| %>
  <% if params[:symbol].present? %>
    <%= hidden_field_tag :symbol, params[:symbol] %>
    <%= hidden_field_tag :company_name, params[:company_name] %>
    <%= hidden_field_tag :price, @transaction.price %>
    <%= hidden_field_tag :stock_id, @stock.id %>
  <% else %>
    <%= form.hidden_field :stock_id, value: @stock.id %>
  <% end %>

  <%= form.hidden_field :transaction_type, value: @transaction.transaction_type %>

  <%= form.label :quantity, "Qty to buy" %><br>
  <%= form.number_field :quantity, min: 1, required: true %>  <!-- Ensure field name is correct -->

  <%= form.label :price, "Price per share" %><br>
  <%= form.number_field :price, step: 0.01, required: true %>

  <div>
    <%= form.submit @transaction.transaction_type.capitalize, class: "btn btn-primary" %>
  </div>
<% end %>


  <%= link_to "Back to Dashboard", trader_dashboard_path, class: "btn btn-secondary" %>
  <%= link_to "My Portfolio", portfolio_path, class: "btn btn-secondary" %>

<% else %>
  <div id="error_explanation">
    <p><strong>Your account is still pending approval by an admin.</strong></p>
  </div>
  <%= link_to "Back to Dashboard", trader_dashboard_path, class: "btn btn-primary" %>
<% end %>
